@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
a{text-decoration: none;}
.Wrap{
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.Detail{
  flex-basis: 70%;
  height:100vh;
  background:rgb(251, 252, 255);
  box-shadow: 5px 0px 10px rgb(229, 236, 241);
  border-radius: 0 100px 100px 0;
  position: relative;
}
.Detail .wrap1{
  position: absolute;
  width:100%;
  height:80%;
  border-radius: 0 100px 100px 0;
  
  
}
.swiper {
  width: 100%;
  height: 80%;
  background:rgb(251, 252, 255);
  border-radius: 0 100px 100px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper{
 
  margin-top: 5%;
  position: absolute;
}

.Detail nav{
  width:100%;
  height:90px;
  line-height: 90px;
  background:black;
  border-radius: 0 100px 0 0;
  display: flex;
  justify-content: space-around;
  transition: .8s;
}
.Detail nav.active{
  margin-left:-300px;
  margin-top:-90px;
  background:rgb(0, 77, 77);
  opacity: .0;
  
}
.Detail nav a{
  color:white;
  font-weight: bold;
  font-size:18px;
  display: block;
  width:100%;
  text-align: center;
  transition: .5s;
  cursor: pointer;
}
.Detail nav a:hover{
  background:#86A8E7
}
.Detail nav a:last-child{
  border-radius: 0 98px 0 0;
}
.Detail button{
 color:white;
 border:none;
 font-weight: bold;
 font-size: 15px;
 background:black;
 border-radius: 10px;
 margin-left:5px;
 margin-top: 5px;
 padding:10px 30px;
 cursor: pointer;
 
}
.Detail button:hover{
  background:rgb(98, 98, 98);
}
.Detail .Center{
  position: absolute;
  top: 50%;
  margin-top: -92.5px;
  left:50%;
  margin-left:-330px;
  color:rgb(0, 0, 0);
}
.SlideButton{
  position: absolute;
  bottom:10%;
  left:50%;
  width:300px;
  text-align: center;
  margin-left:-150px;
 }
 
 .Left{
 margin-right:80px;
 
 width:30px;
 height:30px;
 }
 .Right{
  width:30px;
  height:30px;
 }
 
.Detail h3{
  text-align: center;
  font-family: 'Black Han Sans', sans-serif;
  font-size:36px;

}
.Detail p{
  text-align: center;
  font-family: 'Black Han Sans', sans-serif;
  font-size:30px;
}
.intro{
  flex-basis: 30%;
  text-align: center;
  font-family: 'Dongle', sans-serif;
  font-size:23px;
}
.intro .Photo{
  margin-top: 20%;
  margin-bottom: 2%;
}
.intro .Name{
  margin-bottom: -20px;
}
.intro .Photo img{
  border-radius: 50%;
  height:300px;
  border:1px solid #86A8E7;
  box-shadow: 3px 3px 20px white;
  opacity: .8;
}
.intro .Sns{
  display: flex;
  justify-content: center;
}
.intro .Sns img{
  margin:0 10px;
}
.Mail {
  border:2px solid white;
  border-radius: 10px;
  width:200px;
  height:50px;
  text-align: center;
  line-height: 55px;
  font-size:30px;
  margin:20px auto;
}
.Mail1{
  margin-right: 10px;
  margin-bottom:-5px;;
}
